*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --header_bg: rgb(230, 240, 240);
    --menu_sleep: rgb(155, 155, 155);
    --nav_bg: rgb(202, 211, 211);
    --bgDeep: rgb(227, 227, 227);
    --bgLight: rgb(239, 239, 239);
    --button_color: rgb(14, 112, 1);
    --button_hover_color: rgb(8, 71, 0);
    --input_bg:rgb(195, 244, 250);
}









/* header design starts from here  */
header {
    width: 100%;
    background-color: var(--header_bg);
    padding: 5px 0px;
    overflow: hidden;

}
#banner_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#left_portion, #right_portion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#left_portion p, #right_portion p{
    margin: 0;
    padding: 0;
}


#logo{
    margin-right: 10px;
}
#logo img{
    padding: 2px 0px;
    width: auto;
    height: 10vh;
}



#title{
    font-family: Oswald;
    font-size: 1.2rem;
    line-height: 25px;
    font-size: 1.2rem; 
    line-height: 26px;
    font-weight: 500;
}
#slogan{
    font-family: Oswald;
    font-size: .8rem;
    line-height: 20px;
    font-weight: 500;
}


.info_block {
    font-family: Oswald;
    margin-left: 10px;
    text-align: center; 
}
.contact_title{
    font-size: .7rem;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}
.contact_info{
    line-height: 15px;
    font-size: .7rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--menu_sleep);
    transition: all 300ms ease-in-out;

}
.contact_info a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}
.contact_info:hover{
    color:black;
}

/* header design ends here  */















nav{
    background-image: linear-gradient(rgb(202, 211, 211),rgb(208, 218, 218),rgb(202, 211, 211));
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar ul{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
#navbar ul li{
    transition: all 300ms ease-in-out;
    float: left;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
}
#navbar ul li:hover{
    background-color: var(--header_bg);
}














/* MAP SECTION STYLIZING STARTS FROM HEAR */
#map_wrapper{
    height: auto;
}
#map_wrapper iframe{
    height: 100%;
    width: 100%;
}

#add_sub_wrapper{
    padding: 5px;
    font-family: Oswald;
    height: auto;
}
#address_portion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#address_portion h6, #subs_portion h6{
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}
#address_portion p{
    margin: 0;
    padding: 0;
    font-size: .9rem;
    text-wrap: wrap;
    line-height: normal;
}

#location_icon{
    font-size: 4vh;
    margin: 5px 0px;
}
.underLine{
    text-decoration: underline;
    color: brown;
}
/* MAP SECTION STYLIZING ENDS HEAR */














/* TITLE RIBBON STYLIZING STARTS FROM HEAR  */
.title_style, .outer_box, .boxfor_border, .inner_box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: Oswald;
}
.inner_box{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 2px;
    background-color: var(--button_color);
}

.outer_box{
    height: auto;
    width: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    border: 1px solid var(--button_color);
}
.boxfor_border{
    border-top: 1px dotted black;
    position: relative;
    width: 25%;
    min-width: 250px;
}

/* TITLE RIBBON STYLIZING ENDS HERE  */















/* SUBSCRIBE SECTION STYLIZING STARTS  */

#subs_portion{
    margin-top: 10px;
    border-top: 1px dotted rgb(212, 212, 212);
  }
  
#subs_portion form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    font-family: Oswald;
    margin-bottom: 10px;

}
#email{
    border: 1px solid rgb(20, 127, 91);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:rgb(181, 253, 229);
    font-size: 0.9rem;
    width: 200px;
    height: 30px;
    padding: 2px 5px 2px 15px;
    outline: none;
}
#email::placeholder{
    font-family: Oswald;
    font-size: .9rem;
    font-weight:500;
    text-align: center;
}
#subscribe {
    border: 1px solid rgb(20, 127, 91);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
    background-color: rgb(20, 127, 91);
    outline: none;
    font-size: 0.9rem;
    padding: 2px 7px 2px 5px;
    margin-left: -1px;
    height: 30px;
    cursor: pointer;
    color: black;
    transition: all 300ms ease-in-out;
}
#subscribe:hover{
    color: white;
}
#email:focus{
    background-color: white;

} 

/* SUBSCRIBTION STYLIZING ENDS HERE */









/* MISSION VISSION STYLIZING STARTS FROM HERE  */
.mvg_container{
    height: 100%;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bgLight);
    transition: all 300ms ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.toper_portion{
    padding: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aquamarine;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}


.toper_portion:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.toper_portion i{
    font-size: 2rem;
}


.toper_portion h6{
    margin-top: 2px;
    font-family: Oswald;
    text-transform: uppercase;
}
.lower_portion{
    font-family: Oswald;
    padding: 5px;
}
.lower_portion p{
    text-align: center;
}

/* MISSION VISSION STYLIZING ENDS HERE  */








/* upto 650 px of viewport this styly will be applicable  */
@media only screen and (max-width: 650px) {

    #banner_holder{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }


    #left_portion {
        width: 100%;
        flex-direction: column;
        margin-bottom: 5px;
    }


    #right_portion{
        width: 100%;
        justify-content: space-between;
    }
    #title, #slogan{
        text-align: center;
    }



    #map_wrapper{
        width: 100%;
    }
    #add_sub_wrapper{
        margin-top: 20px;
        width: 100%;
    }




}

