*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --header_bg: rgb(230, 240, 240);
    --menu_sleep: rgb(155, 155, 155);
    --nav_bg: rgb(202, 211, 211);
    --bgDeep: rgb(227, 227, 227);
    --bgLight: rgb(239, 239, 239);
    --button_color: rgb(9, 89, 76);
    --button_hover_color: rgb(69, 123, 130);
    --input_bg:rgb(173, 226, 233);
}


body{
    background-color: var(--bgLight);
}


















/* header design starts from here  */
header {
    width: 100%;
    background-color: var(--header_bg);
    padding: 5px 0px;
    overflow: hidden;

}
#banner_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}






#left_portion, #right_portion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#left_portion p, #right_portion p{
    margin: 0;
    padding: 0;
}






#logo{
    margin-right: 10px;
}
#logo img{
    padding: 2px 0px;
    width: auto;
    height: 10vh;
}




#title{
    font-family: Oswald;
    font-size: 1.2rem;
    line-height: 25px;
    font-size: 1.2rem; 
    line-height: 26px;
    font-weight: 500;
}
#slogan{
    font-family: Oswald;
    font-size: .8rem;
    line-height: 20px;
    font-weight: 500;
}





.info_block {
    font-family: Oswald;
    margin-left: 10px;
    text-align: center; 
}
.contact_title{
    font-size: .7rem;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}
.contact_info{
    line-height: 15px;
    font-size: .7rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--menu_sleep);
    transition: all 300ms ease-in-out;

}
.contact_info a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}
.contact_info:hover{
    color:black;
}

/* header design ends here  */















nav{
    background-image: linear-gradient(rgb(202, 211, 211),rgb(208, 218, 218),rgb(202, 211, 211));
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar ul{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
#navbar ul li{
    transition: all 300ms ease-in-out;
    float: left;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
}
#navbar ul li:hover{
    background-color: var(--header_bg);
}





















/* MAP SECTION STYLIZING STARTS FROM HEAR */
#map_section{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


#map_wrapper{
    /* border: 1px solid green; */
    width: 75%;
    background-color: var(--bgDeep);
    padding: 5px;
    height: 60vh;
    overflow: hidden;
}



#address_wrapper{
    padding: 5px;
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
    /* min-width: 300px; */
    /* background-color: var(--bgLight); */
    font-family: Oswald;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#address_wrapper h5{
    text-align: center;
}
#address_wrapper p{
    margin: 0;
    padding: 0;
    font-size: .8rem;
    text-wrap: wrap;
}
#location_icon{
    font-size: 6vh;
    margin: 5px 0px;
}
.underLine{
    text-decoration: underline;
    color: brown;
}




























/* SUBSCRIBE SECTION STYLIZING STARTS  */
#subs_section{
    /* background-color:var(--header_bg); */
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
}
#subs_section h5{
    text-align: center;
    margin-top: 15px;
    font-family: Oswald;
    text-transform: uppercase;
}
#subs_section form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-width: 500px;
    padding: 5px 25px;
    margin: 0px auto;
    font-family: Oswald;
    position: relative;
    margin-bottom: 25px;

}
#email{
    border: 2px solid var(--button_color);
    border-radius: 20px;
    background-color: var(--input_bg);
    font-size: 1.3rem;
    width: 100%;
    height: 44px;
    padding: 5px 140px 5px 20px;
    outline: none;
    position: relative;
}
#subscribe {
    border: 0px;
    background-color: var(--button_color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    padding: 3px 10px;
    position: absolute;
    right: 26px;
    height: 40px;
    cursor: pointer;
    color: rgb(253, 246, 238);;
    transition: all 300ms ease-in-out;
}
#subscribe:hover{
    background-color: var(--button_hover_color);

}
#email:focus{
    background-color: rgb(253, 246, 238);
}
/* SUBSCRIBTION STYLIZING ENDS HERE */

























/* upto 650 px of viewport this styly will be applicable  */
@media only screen and (max-width: 650px) {
    #banner_holder{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }


    #left_portion {
        width: 100%;
        flex-direction: column;
        margin-bottom: 5px;
    }


    #right_portion{
        width: 100%;
        justify-content: space-between;
    }
    #title, #slogan{
        text-align: center;
    }

    #map_wrapper{
        width: 100%;
        padding: 10px 0px;
    }


    #address_wrapper{
        width: 100%;
        height: auto;
        padding: 10px 0px;
    }


  }



  /* END  */